<% provide(:title, "About") %>
<h1>About Incubus</h1>
<p class="text-left">
Incubus is a web app in Rails that does two things:
<ol>
	<li> Allows a user to log in through a username and password.</li>
	<li> Using Last.fm API, build a search and recommendation engine that does the following: 
		<ul>
			<li>  After user logs in, the user is offered a search box that allows user to enter an Artist name. When user hits search, user is given information about the artist (artist's music tracks etc) and a  list of similar/recommended artists. </li>
			<li> Artist name that is searched gets stored in user's search history and can be viewed post log in.</li>
		</ul>
	</li>
</ol>
</p>

<h2><strong>Why the name Incubus?</strong></h2>
While creating the repository, I was listening to this <a href="https://youtu.be/fgT9zGkiLig">song</a> from the band called Incubus, so I decided to name this repository after the band :)
</p>