<% provide(:title, "Help") %>
<h1>Incubus help</h1>
<p>
If you are a new user, you will have to <a href="/signup">signup</a> first. <br>
After you login/signup, you will be redirected to the home page where you can searh and get information about any artist.<br>
</p>