<% provide(:title, "Home") %>
<div class="center jumbotron">
	<h1>Welcome to Incubus Music Search and Recommendation Engine</h1>
	<h2>
		This is the home page Incubus!
	</h2>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>