<% provide(:title, @user.name) %>
<div class = "row">
	<aside class="col-md-4">
		<h1>
			<%= gravatar_for @user %>
			<%= @user.name %>
		</h1>
	</aside>
</div>
<div class="center">
	<h2><strong>Search History</strong></h2>
	<% search_history = history @user %>
	<% search_history.each do |artist| %>
		<%= artist %>
		<br>
	<% end %>
</div>
